.root {
  background-color: #E5E5E5;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .body {
    display: flex;
    font-family: sans-serif;
    margin: 0 -20px;

    & > * {
      margin: 0 20px;
    }

    .screen {
      width: 414px;
      height: 896px;
      background: #FFFFFF;
      display: flex;
      flex-direction: column;
      position: relative;

      .menu {
        display: flex;
        justify-content: space-between;
        margin: 56px 24px 40px 24px;

        .icon {
          width: 24px;
          height: 24px;
        }

        .menu_title {
          font-weight: bold;
          font-size: 28px;
          line-height: 34px;
          text-align: center;
          color: #4E4B6F;
        }

      }

      .avatar {
        margin: 0 24px 40px 24px;
        background: url("./images/girl.png") center no-repeat;
        background-size: cover;
        width: 366px;
        height: 622px;
        border-radius: 24px;
        position: relative;

        .description {
          position: absolute;
          bottom: 32px;
          right: 0;
          left: 24px;
          background: #FFFFFF;
          opacity: 0.9;
          border-radius: 20px 0 0 20px;
          padding: 24px;

          .title {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #16123D;
            padding-bottom: 8px;
          }

          .subtitle {
            font-size: 16px;
            line-height: 19px;
            color: #4E4B6F;
          }

        }

      }

      .description {
        position: absolute;
        bottom: 32px;
        right: 0;
        left: 24px;
        background: #FFFFFF;
        opacity: 0.9;
        border-radius: 20px 0 0 20px;
        padding: 24px;

        .title {
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
          color: #16123D;
          padding-bottom: 8px;
        }

        .subtitle {
          font-size: 16px;
          line-height: 19px;
          color: #4E4B6F;
        }

      }


      &_profile {
        width: 414px;
        height: 896px;
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        position: relative;

        &_menu {
          position: absolute;
          display: flex;
          justify-content: space-between;
          top: 56px;
          left: 24px;
          right: 24px;
        }

        &_body {
          padding: 48px 24px 120px 24px;
          overflow-y: scroll;

          &_avatar {
            margin-bottom: 24px;
          }
          &_about {
            margin: 36px 0 ;
          }

        }
      }

    }
  }
}

.buttonSet {
  position: absolute;
  bottom: 40px;
  left: 84px;
  right: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .button {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(22, 18, 61, 0.12);
  }

}



